@font-face {
    font-family: Nofex;
    src: url(../public/fonts/Nofex.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Fifa;
    src: url(../public/fonts/FIFA2006Regular.otf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Helv";
    src: url(../public/font/helvetica-light.otf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999999;
     &.blue{
          background-color: #091c3eae !important;
      }
    .volet_menu{
      display: none;
    }
    .navbar {
        height: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            background: url(../public/layout/logo.png) no-repeat center/100% auto;
            width: 1.5rem
                /* 120/60 */
            ;
            height: .666667rem
                /* 40/60 */
            ;
            margin-left: 0.4rem;
        }

        ul {
                display: flex;

            li {
                font-size: .266667rem
                    /* 16/60 */
                ;
                color: #fff;
                padding: .133333rem
                    /* 8/60 */
                    .1rem
                    /* 25/60 */
                ;
                margin: 0 .166667rem
                    /* 10/60 */
                ;
                cursor: pointer;
                border: .033333rem
                    /* 2/60 */
                    solid transparent;
                border-radius: .583333rem
                    /* 35/60 */
                ;
            }
        }
        .open_menu{
          display: none;  
        }
    }
    .navwrap{
      display: flex;
      align-items: center;
    }

    .language{
        background: url(../public/home/icon_language.svg) no-repeat center/ 100% auto;
        width: 0.3rem;
        height: 0.3rem;
        font-size: 0.4rem;
        margin-right: 0.5rem;
        padding-top: 0.65rem;
        &:hover{
            dt{
                display: block;
            }
        }
        dt{
            font-size: 0.25rem;
            display: none;
            cursor: pointer;
            width: 1rem;
            padding: 0.02rem 0.1rem;
            border-radius: 3px;
            margin-left: -0.2rem;
            text-align: center;
            &:hover{
                background: #032562;
            }
        }
    }

    .wallet {
        float: right;
    }
}

.main {
    position: relative;
    overflow: hidden;
}

.footer {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    ul {
        li {
            text-decoration: none;
            cursor: pointer;
            width: 0.4rem;
            height: 0.4rem;
            margin-bottom: 0.5rem;
            i {
                display: inline-block;
                width: 0.4rem;
                height: 0.4rem;

                &.twitter {
                    background: url(../public/home/icon_twitter.svg) no-repeat center;
                    background-size: 100% auto;
                }

                &.twitter:hover {
                    background: url(../public/home/icon_twitter_hover.svg) no-repeat center;
                    background-size: 100% auto;
                }

                &.discord {
                    background: url(../public/home/icon_discord.svg) no-repeat center;
                    background-size: auto 100%;
                }

                &.discord:hover {
                    background: url(../public/home/icon_discord_hover.svg) no-repeat center;
                    background-size:auto 100%;
                }
            }
        }
    }
      
}

@media screen and (max-width: 600px) {
    .header {
        margin: 0 auto;
        position: fixed;
        z-index: 999;
        top: 0;
        &.blue{
           background-color: #091c3eae !important;
        }
        .volet_menu{
          width: 70%;
          display: block;
          position: fixed;
          background-color: #091c3e;
          padding-top: 4rem;
          padding-left: 2rem;
          top: 0px;
          left: -100%;
          height: 100%;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          overflow-x: hidden;
          overflow-y: auto;
          transition: all 0.5s ease;
          z-index: 1;

          .locale{
              margin-top: 2rem;
              span{
                font-size: 0.8rem;
                margin: 0 0.2rem;
                font-family: 'Courier New', Courier, monospace;
                &.active{
                  font-weight: bold;
                }
              }
          }
          &.active{
            left: 0px;
            transition: all 0.5s ease;
              .menu_wrap {
                opacity: 1;
                  li{
                    transform: translateX(0px);
                    opacity: 1;
                    margin: 1rem 0;
                  }
              }
          }
          .contacts{
            margin-top: 1rem;
            display: flex;
            align-items: center;
            div{
              width: 1.5rem;
              height: 1.5rem;
              margin-right: 0.4rem;
            }
             .twitter {
                  background: url(../public/home/icon_twitter.svg) no-repeat center;
                  background-size: 100% auto;
              }

              .discord {
                  background: url(../public/home/icon_discord.svg) no-repeat center;
                  background-size: auto 100%;
              }
          }
        }
        .navbar {
            height: 3rem;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 10;
            justify-content: flex-start;
            .open_menu{
              display: flex;
              align-items: center;
            }
            .open_menu.open .menu_burger span:nth-child(1) {
                top: 7px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg)
            }

            .open_menu.open .menu_burger span:nth-child(2) {
                opacity: 0;
                left: -30px
            }

            .open_menu.open .menu_burger span:nth-child(3) {
                top: 7px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
                width: 100%
            }
            .menu_burger {
                width: 21px;
                height: 16px;
                position: relative;
                margin: 0px 8px;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.5s ease-in-out;
                -moz-transition: 0.5s ease-in-out;
                -o-transition: 0.5s ease-in-out;
                transition: 0.5s ease-in-out;
                cursor: pointer;
                display: inline-block;
                vertical-align: 0;
            }

            .menu_burger span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: white;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.25s ease-in-out;
                -moz-transition: 0.25s ease-in-out;
                -o-transition: 0.25s ease-in-out;
                transition: 0.25s ease-in-out;
                margin-left: 0px !important
            }

            .menu_burger span:nth-child(1) {
                top: 0px;
                width: 100%
            }

            .menu_burger span:nth-child(2) {
                top: 7px;
                width: 70%;
                left: 15%
            }
            .menu_burger span:nth-child(3) {
                top: 14px;
                width: 100%
            }
            .logo {
                background: url(../public/layout/logo.png) no-repeat center/100% auto;
                float: none;
                width: 3.6rem;
                height: 1.366667rem;
                margin-right: 1rem;
                margin-left: 1rem;
            }
            .language{
              display: none;
            }
            ul {
                display: none;
                float: left;
                margin-left: .666667rem
                    /* 40/60 */
                ;

                li {
                    display: inline-block;
                    font-size: .6rem
                        /* 16/60 */
                    ;
                    color: #fff;
                    padding: .133333rem
                        /* 8/60 */
                        .416667rem
                        /* 25/60 */
                    ;
                    margin: 0 .166667rem
                        /* 10/60 */
                    ;
                    cursor: pointer;
                    border: .033333rem
                        /* 2/60 */
                        solid transparent;
                    border-radius: .583333rem
                        /* 35/60 */
                    ;
                    vertical-align: top;

                    &.active,
                    &:hover {
                        // border: .033333rem /* 2/60 */ solid #fff;
                        color: #ccfd0a;
                    }
                }
            }
            
        }

        .wallet {
            float: right;
        }
    }

    .main {
        position: relative;
        overflow: hidden;
    }

    .footer {
        font-size: 1rem
            /* 20/60 */
        ;
        width: 20rem
            /* 1200/60 */
        ;
        margin: 0 auto;

        .copyright {
            font-size: 0.6rem
                /* 14/60 */
            ;
            color: #fff;
            overflow: hidden;
            background: #032562;
            padding: 0.4rem
                /* 10/60 */
                .333333rem
                /* 20/60 */
            ;

            .inner {
                width: 100%;
                margin: 0 auto;
            }

            span {
                &:first-child {
                    float: left;
                }

                &:last-child {
                    float: right;
                }
            }
        }
    }
}