 .walletMask {
     font-family: Arial, Helvetica, sans-serif;
     background-color: rgba(0, 0, 0, 0.8);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     padding: 11.104px;
     display: flex;
     z-index: 9999;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: center;
     justify-content: center;
     pointer-events: auto;

     &.hide {
         display: none;
     }

     .walletDialog {
         width: 90%;
         max-width: 370.138px;
         position: relative;
         width: 100%;
         background-color:#121215;
         border-radius: 10px;
         margin: 7.403px;
         padding: 0px;
         opacity: 1;
         visibility: visible;
         pointer-events: auto;
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(236.888px, 1fr));
         max-width: 370.138px;
         min-width: fit-content;
         max-height: 100%;
         overflow: auto;
         border: 1px solid #ff4b3a;
         li {
             width: 100%;
             padding: 5.922px;
             display: flex;
             -webkit-box-pack: center;
             justify-content: center;
             -webkit-box-align: center;
             align-items: center;
             flex-direction: column;
             line-height: 1.5em;
             cursor: pointer;
             border: 0.8340000000000001px solid rgba(195, 195, 195, 0.14);
             box-sizing: border-box;
             padding: 5.922px;

            //  &:hover {
            //      .walletWrapper {
            //          background-color: rgba(195, 195, 195, 0.14);
            //      }
            //  }

             .walletWrapper {
                 padding: 17.767px 11.845px;
                 border-radius: 10px;
                 box-sizing: border-box;
                 width: 100%;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 flex-direction: column;
             }

             img {
                 width: 4vh;
                 height: 4vh;
                 display: flex;
                 border-radius: 50%;
                 overflow: visible;
                 box-shadow: none;
                 justify-content: center;
                 align-items: center;
                 margin-bottom: 1vh;
             }

             .walletTitle {
                 width: 100%;
                 font-size: 2vh;
                 color: #fff;
                 text-align: center;
                 font-family: "halva_m";
             }

             .walletTips {
                 color: #fff6;
                 font-size: 1.4vh;
                 font-family: "halva_m";
             }
         }
     }
 }

 .wallet {
     font-size: 1.8vh;
     font-family: "halva_m";
     text-align: right;
     .account {
         vertical-align: middle;
         font-family: Arial, Helvetica, sans-serif;
         display: inline-block;
         color: #fff;
     }

     .balance {
         color: #fff;
         padding: 4.166px;
         margin: 0 7.403px;
         vertical-align: middle;
         display: inline-block;
     }
 }

 .button {
        border-radius: 5vh;
        align-items: center;
        color: white;
        cursor: pointer;
        font-size: 1.4vh;
        font-weight: bold;
        justify-content: center;
        outline: none;
        white-space: nowrap;
        display: inline-block;
        border: none;
        font-family: "halva_m";
        width: 180px;
        height: 70px;
        background: none;
}


@media screen and (max-width: 500px) {
    .walletMask {
        .walletDialog {
            li {
                .walletWrapper {
                }

                img {
                }

                .walletTitle {
                }

                .walletTips {
                }
            }
        }
    }

    .wallet {
    }

    .button {
        font-size: 1.3vh;
    }
}
